@charset "UTF-8";

/* チャプター：全体の設定 */
body {
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 14px;
}

/* チャプター：ヘッダー */
header {
    width: 1000px;
    background-color: #ffcccc;
    text-align: left;
}


/* チャプター：メインとサイドバー（2カラムレイアウト） */
#wrapper {
    width: 1000px;
    display: flex;
    justify-content: flex-start;
}

#main {
    width: 700px;
    background-color: #ccffcc;
    text-align: left;

}

#menu {
    width: 300px;
    background-color: #ccccff;
    text-align: left;
}


/* チャプター：フッター */

footer {
    width: 1000px;
    background-color: #ffccff;
    text-align: left;
}
